/* --------------------------------------- */

/* scroll dots */

.scroll-dot-container {
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    align-items: center;
    position: absolute;
    bottom: 30px;
    left: calc(50vw - 4px)    
}

.scroll-dot {
    width: 6px;
    height:6px;
    background-color: rgba(197, 197, 197, 0.664);
    border-radius: 50%;
    margin-top: 6px;
}

/* ----------------------------------- */

/* technologies */


.technologies-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.technology-tile {
    min-width: 200px;
    min-height: 130px;;
}

.technology-tile-img {
    width: 100px;
    height: 100px;
    /* background-color: rgba(245, 245, 245, 0.377); */
    border-radius: 7%;
    margin: 20px
}

.big-break {
    margin-bottom: 10px
}


/* ------------------------------------ */

/* products */


.product-tile-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product-tile {
    border-radius: 5%;
    min-width: 140px;
    object-fit: contain;
}

.product-tile:hover {
    background-color: rgb(241, 240, 240);
}

.product-tile-img {
    height: 140px;
    object-fit: scale-down
}

.product-tile-title {
    font-family: 'Baloo Paaji';
    color: var(--indigo);
    font-weight: bolder;
}

.product-tile-subtitle {
    font-family: 'Baloo Paaji';
    font-weight: 100;
    color: #9d88c5;
}

.product-screen {
    height: 400px;
    width: 100%;
    display: flex;
    visibility: visible;
    background-color: whitesmoke;
    border-radius: 15px;
    padding: 10px;
}

img {
    transition-property: all;
    transition-duration: .2s;
}

/* media ------------------------ */

.developer-photo {
    border-radius: 15px;
}